body{
    font-family: Helvetica, Arial, sans-serif;
    --book-color: #ffffff;
    --secondary-color: #f8f8f8;
}
h1{
    text-align: center;
    font-size: 2.1em;
}
.navbar, .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.navbar div{
    padding: 0 80px;
}
.book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;
}
.info-header, .book{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    text-align: center;
}
.info-header h3{
    text-align: center;
    color: rgb(33, 33, 33);

}
.book{
    border: 1.5px solid black;
    border-radius: 10px;
    max-height: 70px;
    box-shadow: 5px 5px 5px -5px;
    background-color: var(--book-color);
    position: relative;
}
.book p{
    padding: 5px 0;
    text-align: center;
}
.delete{
    position: absolute;
    right: 50px;
    font-weight: 500;
    text-align: center;
    color: #424242;
}
.delete:hover{
    font-size: 1.2em;
    cursor: pointer;
    color: rgb(49, 49, 49);
}
.delete:active{
    color: #000000;
    font-weight: 550;
}
.read{
    position: absolute;
    left: 50px;
    height: 1.5em;
    width: 1.5em;
    background: url(./icons/book_4_spark_24dp_999999_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: transparent;
    background-color: transparent;
}
.read:hover{
    cursor: pointer;
}
.add-tool{
    height: 50px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add{
    padding: 5px 80px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px -5px;
    font-size: 1.5em;
    background-color: white;
}
.add:hover{
    border: 2px solid black;
    box-shadow: 7px 7px 7px -7px;
}
.add:active{
    box-shadow: none;
    background-color: #ffffff;
    color: black;
}
dialog{
    border: 3px solid black;
    box-shadow: 5px 5px 5px -5px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 80px 0 80px;
}
form label{
    font-size: 1em;
    font-weight: 500;
}
form input{
    width: 160%;
    height: 1.2em;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-style: italic;
}
form button{
    text-align: center;
    border-radius: 5px;
    border: 1.5px solid black;
    font-size: 1em;
    padding: 2px 15px;
    background-color: white;
    box-shadow: 2px 0px 2px -2px;
}
form button:hover{
    background-color: #181818;
    color:white;
}
form button:active{
    background-color: white;
    color: #181818;
}
.btnContainer{
    padding: 40px 10px 20px 10px;
}
.close{
    background-color: white;
    border: transparent;
    font-size: 1.3em;
    position: absolute;
    right: 1em;
}
.close:hover{
    background-color: #363636;
    color:white;
}

